################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChromeExt/.vs
/ChromeExt/extension.zip
/ChromeExt/dist.zip
/nine3q/obj
/nine3q/bin
/Backend/.vs
/Backend/Test
/Items/.vs
/Items/Test
*.user
/Runtime/.vs
/Runtime/Runtime/bin
/Runtime/Runtime/obj
/Shared/JsonPath/bin
/Shared/JsonPath/obj
/Shared/JsonPath.Test/bin
/Shared/JsonPath.Test/obj
/Shared/n3q.Tools/bin
/Shared/n3q.Tools/obj
/Shared/n3q.Tools.Test/bin
/Shared/n3q.Tools.Test/obj
