################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChromeExt/.vs/ChromeExt/v16
/ChromeExt/.vs
