
@function z-index($key) {
    @return map-get($z-index, $key);
}

$z-index: (
    Page               : 1000000000,
    Thing              : 1001000000,
    Participant        : 1002000000,
    ParticipantAvatar  : 1002001000,
    ParticipantNickname: 1002002000,
    ParticipantChatout : 1002003000,
    ParticipantChatin  : 1002004000,
);

#n3q-id-page {
    width: unset;
    margin: unset;
    padding: unset;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //background-color: rgba(255, 255, 255, 0.0);
    //background-color: rgba(70, 201, 70, 0.05);
    //background-image: url("page-bg.png");
    pointer-events: none;
    z-index: z-index(Page);
}

.n3q-base {
    all: revert; // all: revert?
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: 1;
    display:block;
    // line-height:normal;

    // width: unset;
    // min-width: unset;
    // margin: unset;
    // padding: unset;
    // border-radius: unset;
    // box-shadow: none;
    // filter: none;
    // text-align: unset;
    // vertical-align: unset;
    // color: black;
    // background-color: unset;
    // font-family: Arial, sans-serif;
    // font-size: 11px;
    // font-weight: normal;
    // font-style: normal;
    // font-variant-ligatures: normal;
    // font-variant-caps: normal;
    // font-variant-numeric: normal;
    // font-variant-east-asian: normal;
    // font-stretch: 1;
    // line-height: unset;
}

input.n3q-base {
    display: inline;
}

// zeit.de
input.n3q-base:focus {
    background-color: white;
}

.n3q-hidden {
    display: none;
}

// Components

// .n3q-display {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height: 100px;
//     //background-color: rgba(255, 255, 255, 0.0);
//     //background-color: rgba(70, 201, 70, 0.1);
//     //background-image: url("display-bg.png");
//     pointer-events: none;
// }

.n3q-ctrl {
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 100px;
    height: 100px;
    background-color:yellow;
    pointer-events: auto;
    user-select: none;
}

.n3q-entity {
    position: absolute;
    bottom: 0px;
    pointer-events: none;
}
.n3q-entity-content {
    width: 100px;
    height: 100px;
    position: relative;
    left: -50px;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    pointer-events: none;
}

.n3q-centertable {
    display: table;
    position: relative;
    left: -50px;
    width: 100px;
    height: 100px;
    // border-left: 1px solid #808080;
    // border-right: 1px solid #808080;
}
.n3q-centercell {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    font-size: 0px;
    // border-left: 1px solid #0000ff;
    // border-right: 1px solid #0000ff;
}

// General

.n3q-text {
    margin: 0;
    padding: 0;
}

.n3q-shadow {
    -webkit-box-shadow: 1px 1px 1px #888;
    -moz-box-shadow: 1px 1px 2px #888;
    box-shadow: 1px 1px 2px #888;
}

// Buttons

.n3q-button {
    color: #666;
    cursor: default;
}

    .n3q-button:hover {
        opacity: 0.5;
    }

.n3q-button-overlay {
    position: absolute;
    right: 2px;
    top: 2px;
    background-color: #FFF;
}

.n3q-button-sendchat {
    display: inline-block;
    // background: url('https://api.iconify.design/ic:sharp-send.svg') no-repeat center center / contain;
    background: url('https://api.iconify.design/ic:baseline-send.svg') no-repeat center center / contain;
    width: 14px;
    height: 14px;
    margin-left: 2px;
    margin-right: 6px;
    vertical-align: middle;
}

.n3q-button-close-small {
    // background: url('https://api.iconify.design/jam:close-circle.svg') no-repeat center center / contain;
    background: url('https://api.iconify.design/ic:outline-cancel.svg') no-repeat center center / contain;
    width: 11px;
    height: 11px;
}

// Participant

.n3q-participant {
    z-index: z-index(Participant);
}

.n3q-avatar {
    position: absolute;
    bottom: 0;

    // position: relative; // centers the image in the div, but elevates the avatar on some pages
    // left: unset;
    // right: unset;
    // top: unset;
    // bottom: unset;

    pointer-events: auto;
    user-select: none;
    z-index: z-index(ParticipantAvatar);
}

.n3q-avatar-hilite {
    filter: drop-shadow(0 0 2px #808080);
    -webkit-filter: drop-shadow(0 0 2px #808080);
}

.n3q-nickname {
    position: absolute;
    left: 20px;
    bottom: 10px;
    border: 1px solid #888;
    padding: 1px 2px 1px 2px;
    background-color: #f5f5f5;
    white-space: nowrap;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: z-index(ParticipantNickname);
    pointer-events: auto;
}

// Chatout

.n3q-chatout {
    position: absolute;
    left: -50px;
    bottom: 110px;
    width: 100px;
    z-index: z-index(ParticipantChatout);
    pointer-events: auto;
}

.n3q-speech {
    position: relative;
    line-break: loose;
    word-wrap: break-word;
    text-align: center;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.n3q-chatout .n3q-text {
    max-width: 100px;
    max-height: 200px;
    text-align: left;
    overflow: auto;
    padding: 2px 2px;
}

.n3q-speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 75px;
    bottom: -12px;
    border: 6px solid;
    border-color: #666 transparent transparent #666;
}

.n3q-speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 76px;
    bottom: -10px;
    border: 5px solid;
    border-color: #fff transparent transparent #fff;
}

// Chatin

.n3q-chatin {
    position: absolute;
    left: -70px;
    bottom: 70px;
    background-color: #FFFFFF;
    border: 1px solid #888;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    white-space: nowrap;
    padding: 0px 8px 0px 6px;
    z-index: 500;
    pointer-events: auto;
    z-index: z-index(ParticipantChatin);
}

.n3q-chatin .n3q-text {
    position: relative;
    line-height: 14px;
    padding: 4px;
    outline: none;
    font-family: Arial, sans-serif; 
    font-size: 11px; 
    font-weight: normal; 
    font-style: normal; 
    border: none; 
    box-shadow: unset;
}

// Thing

.n3q-thing {
    z-index: z-index(Thing);
}

