* { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 14px; }

#n3q-id-popup {
    width: 30em;
}

.n3q-base {
    display:block;
}

input.n3q-base {
    display: inline;
}

.n3q-popup-nickname .n3q-popup-label {
    display: inline;
}

// .n3q-popup-nickname input[type="text] {}
