@page
@model n3q.WebIt.ItemFrame.MagicHatModel
@{
    ViewData["Title"] = "Item GUI";
    ViewData["Skin"] = "default";
}

<div id="main">
    <h1>Magic Hat</h1>
    
    <form id="iForm" method="POST" target="hidden-form">
        <input type="hidden" id="action" name="action" value="Abrakadabra" />
        <p><input type="text" id="template" name="template" value="" /></p>
        <p><button id='iSubmit'>Abrakadabra</button></p>
    </form>
    <iframe style='display:none; width:10px; height:10px' name='hidden-form'></iframe>
</div>

@section Scripts {
    <script type="text/JavaScript">

        $(function () {
            $('#iSubmit').on('click', function (ev) {
                $('#iForm').get(0).submit();
                return false;
            });
        });

    </script>
}
