<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - nine3q.Web</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="cSiteMenu">
        <div class="cMenuItem"><a asp-area="" asp-page="/Index">Home</a></div>
        <div class="cMenuItem"><a asp-area="" asp-page="/Counter">Counter</a></div>
        <div class="cMenuItem"><a href="/Sample">SampleController</a></div>
        <div class="cMenuItem"><a asp-area="" asp-page="/Commandline">Commandline</a></div>
        <div class="cMenuItem"><a href="/Item/Config">/Item/Config</a></div>
    </div>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
